<% if logged_in? %>
  <h1><%= @cohort.name %></h1>
  <% if @cohort.start_date.to_datetime != nil %>
    <h2>Date:
      <%= @cohort.start_date.to_datetime.strftime("%m/%e/%y") %>
      to
      <%= @cohort.end_date.to_datetime.strftime("%m/%e/%y") %></h2>
  <% end %>
  <h3>
    <% if @cohort.user != nil %>
      Taught by
      <%= @cohort.user.full_name %>
    <% else %>
      No instructor selected.
    <% end %>
  </h3>
  <p>Students in This Cohort</p>
<div class="titlespans"><span style="margin-right:10px;">ID#</span><span style="margin-right:20px;">Last Name</span><span style="margin-right:20px;">First Name</span><span style="margin-right:145px;">Email </span><span style="margin-right:25px;">Age</span><span style="margin-right:30px;">GPA</span><span style="margin-right:10px;">Education</span><span style="margin-right:145px;">Course</span><span>Cohort</span></div>
  <% @students = @cohort.students %>
    <%= render "students/studentsform" %>

    <p>Students Taking this Course Not Yet Assigned a Cohort<p>
        <% @students = [] %>
          <% Student.all.each do |s| %>
            <% if s.course_id == @cohort.course_id && s.cohort_id == 0 %>
              <% @students << s %>
            <% end %>
          <% end %>
          <%= render "students/studentsform" %>
        <% end %>
