<% if logged_in? %>
<h1><%= @cohort.name %></h1>

<p>Date: <%= if @cohort.start_date != nil %>
  <%= @cohort.start_date.to_datetime.strftime("%m/%e/%y") %>
  to
  <%= @cohort.end_date.to_datetime.strftime("%m/%e/%y") %>
  <% end %>
  <p>
    <% @instructor = User.find_by(id: @cohort.instructor_id) %>
        <p>Taught by
          <%= @instructor.first_name %>
          <%= @instructor.last_name %>
          <p>Students in This Cohort</p>
          <% @students.each do |s| %>
            <% if s.cohort_id == @cohort.id %>
              <%= form_for(s) do |f| %>

              <% @cohorts = [["No Cohort Assigned", 0]] %>
                <% Cohort.all.each do |coh| %>
                  <% if coh.course_id == s.course_id %>
                    <% arr = [] %>
                      <% arr << coh.name %>
                        <% arr << coh.id %>
                          <% @cohorts << arr %><% end %>
                        <% end %>

                        <% @courses = [] %>
                          <% Course.all.each do |co| %>
                            <% arr = [] %>
                              <% arr << co.name %>
                                <% arr << co.id %>
                                  <% @courses << arr %><% end %>
                                  <span>
                                    <% if s.id < 100 && s.id > 9 %>
                                      <%= "0" + s.id.to_s %>
                                      <% elsif s.id < 10 %>
                                        <%= "00" + s.id.to_s %>
                                      <% else %>
                                        <%= s.id.to_s %>
                                      <% end %>
                                      <%= f.text_field :last_name, class: 'namefield' %>
                                      <%= f.text_field :first_name, class: 'namefield' %>
                                      <%= f.text_field :email, class: 'emailfield' %>
                                      <%= f.number_field :age %>
                                      <%= f.number_field :grade, :class => 'text_field', :step => 0.01 %>
                                      <%= f.select :education, ['HS', 'College', 'Masters', 'PHD'] %>
                                      <%= f.select :course_id, @courses %>
                                      <%= f.select :cohort_id, @cohorts, class: 'cohortfield' %>
                                      <%= link_to "View Student Profile", student_path(s) %>
                                      <i class="far fa-eye"></i>
                                      <%= f.submit 'Submit Changes' %>
                                      <i class="fas fa-pencil-alt"></i>

                                    <% end %>

                                  </span>
                                <% end %>
                              <% end %>

                              <p>Students Taking this Course Not Yet Assigned a Cohort<p>
                                  <% @students.each do |s| %>
                                    <% if s.course_id == @cohort.course_id && s.cohort_id == 0 %>
                                      <%= form_for(s) do |f| %>

                                      <% @cohorts = [["No Cohort Assigned", 0]] %>
                                        <% Cohort.all.each do |coh| %>
                                          <% if coh.course_id == s.course_id %>
                                            <% arr = [] %>
                                              <% arr << coh.name %>
                                                <% arr << coh.id %>
                                                  <% @cohorts << arr %><% end %>
                                                <% end %>

                                                <% @courses = [] %>
                                                  <% Course.all.each do |co| %>
                                                    <% arr = [] %>
                                                      <% arr << co.name %>
                                                        <% arr << co.id %>
                                                          <% @courses << arr %><% end %>
                                                          <span>
                                                            <% if s.id < 100 && s.id > 9 %>
                                                              <%= "0" + s.id.to_s %>
                                                              <% elsif s.id < 10 %>
                                                                <%= "00" + s.id.to_s %>
                                                              <% else %>
                                                                <%= s.id.to_s %>
                                                              <% end %>
                                                              <%= f.text_field :last_name, class: 'namefield' %>
                                                              <%= f.text_field :first_name, class: 'namefield' %>
                                                              <%= f.text_field :email, class: 'emailfield' %>
                                                              <%= f.number_field :age %>
                                                              <%= f.number_field :grade, :class => 'text_field', :step => 0.01 %>
                                                              <%= f.select :education, ['HS', 'College', 'Masters', 'PHD'] %>
                                                              <%= f.select :course_id, @courses %>
                                                              <%= f.select :cohort_id, @cohorts, class: 'cohortfield' %>
                                                              <%= link_to "View Student Profile", student_path(s) %>
                                                              <i class="far fa-eye"></i>
                                                              <%= f.submit 'Submit Changes' %>
                                                              <i class="fas fa-pencil-alt"></i>

                                                            <% end %>

                                                          </span>
                                                        <% end %>
                                                      <% end %>
                                                      <% end %>
