<% if logged_in? %>
<%if @cohort.id == 1 || @cohort.course_id == 1 %>
  This cohort does not exist.
<% else %>
  <h1><%= @cohort.course.name %>: <%= @cohort.name %></h1>
  <% if @cohort.start_date.to_datetime != nil %>
    <h2>Date:
      <%= @cohort.start_date.to_datetime.strftime("%m/%e/%y") %>
      to
      <%= @cohort.end_date.to_datetime.strftime("%m/%e/%y") %></h2>
  <% end %>
  <h3>
    <% if @cohort.user != nil %>
      Taught by
      <%= link_to @cohort.user.full_name, user_path(@cohort.user) %>
    <% else %>
      No instructor selected.
    <% end %>
  </h3>
<p>Edit this Cohort</p>


      <%= form_for @cohort do |f| %>
      <%= f.select :course_id, @selectcourses %>
      <%= f.text_field :name%>

      <%= f.text_field :start_date, class: 'datefield' %> to
      <%= f.text_field :end_date, class: 'datefield' %>
         <%= @cohort.students.length %> students
         <%= button_tag( :class => "button") do %>
         <i title="Commit Changes" class="fas fa-pencil-alt"></i>
       <% end %>
       <%= link_to cohort_delete_path(@cohort.id), method: :delete, data: {confirm: "WARNING: \n \n This action will permanently delete all data for this cohort.\n Are you sure you want to proceed?", remote: true}, class: 'delete' do %>
     <i title="Delete Cohort" class="fas fa-times alt="Delete"></i>
       <% end %>
      <% end %>

  <p>Students in This Cohort</p>
    <% @students = @cohort.students %>
  <% if @cohort.user.id == current_user.id || current_user.admin_priv > 0 %>
        <%= render "students/studentsformeditable" %>
  <% else %>
    <%= render "students/studentsform" %>
<% end %>
    <p>Students That Can Be Assigned to This Cohort<p>
        <% @students = [] %>
          <% Student.all.each do |s| %>
            <% if s.course_id == @cohort.course_id && s.cohort_id != @cohort.id %>
              <% @students << s %>
            <% end %>
          <% end %>

          <% if @cohort.user.id == current_user.id || current_user.admin_priv > 0 %>
        <%= render "students/studentsformeditable" %>
          <% else %>
            <%= render "students/studentsform" %>
        <% end %>


        <% end %>
                <% end %>
