<% if logged_in? %>
<%if @cohort.id == 1 || @cohort.course_id == 1 %>
  This cohort does not exist.
<% else %>
  <h1><%= @cohort.course.name %>: <%= @cohort.name %></h1>
  <% if @cohort.start_date.to_datetime != nil %>
    <h2>Date:
      <%= @cohort.start_date.to_datetime.strftime("%m/%e/%y") %>
      to
      <%= @cohort.end_date.to_datetime.strftime("%m/%e/%y") %></h2>
  <% end %>
  <h3>
    <% if @cohort.user != nil %>
      Taught by
      <%= link_to @cohort.user.full_name, user_path(@cohort.user) %>
    <% else %>
      No instructor selected.
    <% end %>
  </h3>
  <p>Students in This Cohort</p>
  <% @students = @cohort.students %>
    <%= render "students/studentsform" %>

    <p>Students That Can Be Assigned to This Cohort<p>
        <% @students = [] %>
          <% Student.all.each do |s| %>
            <% if s.course_id == @cohort.course_id && s.cohort_id != @cohort.id %>
              <% @students << s %>
            <% end %>
          <% end %>
          <%= render "students/studentsform" %>
        <% end %>
                <% end %>
