<% if logged_in? %>
  <h1><%= @cohort.name %></h1>
  <% if @cohort.start_date.to_datetime != nil %>
    <h2>Date:
      <%= @cohort.start_date.to_datetime.strftime("%m/%e/%y") %>
      to
      <%= @cohort.end_date.to_datetime.strftime("%m/%e/%y") %></h2>
  <% end %>
  <h3>
    <% if @cohort.user != nil %>
      Taught by
      <%= @cohort.user.full_name %>
    <% else %>
      No instructor selected.
    <% end %>
  </h3>
  <p>Students in This Cohort</p>

  <% @students = @cohort.students %>
    <%= render "students/studentsform" %>

    <p>Students Taking this Course Not Yet Assigned a Cohort<p>
        <% @students = [] %>
          <% Student.all.each do |s| %>
            <% if s.course_id == @cohort.course_id && s.cohort_id == 0 %>
              <% @students << s %>
            <% end %>
          <% end %>
          <%= render "students/studentsform" %>
        <% end %>
