<% if logged_in? %>

<h1>Your Cohorts</h1>
<% if @yourcohorts != nil %>


<% @yourcohorts.each do |coh| %>

<% @num_stu = 0 %>
<% @students.each do |s| %>
  <% if coh.id == s.cohort_id %>
  <% @num_stu += 1 %>
  <% end %>
<% end %>

<% @coursename = Course.find_by(id: coh.course_id) %>
<h2><%= link_to "#{coh.name}", cohort_path(coh) %> <small>(<%= @coursename.name %>) </small></h2>
    <p class="desc">Date: <%= coh.start_date.to_datetime.strftime("%m/%e/%y") %> to <%= coh.end_date.to_datetime.strftime("%m/%e/%y") %><p>


      <%= form_for coh, :html => {class: 'titlebar'} do |f| %>
      <%= f.select :course_id, @courses, {:include_blank => 'Select a Course'} %>
      <%= f.text_field :name%>

      <%= f.text_field :start_date, class: 'datefield' %> to
      <%= f.text_field :end_date, class: 'datefield' %>
      <%= f.submit 'Edit Cohort' %>
         <%= @num_stu %> students:
      <% end %>

<% @students.each do |s| %>
<% if s.cohort_id == coh.id %>
<%= form_for(s) do |f| %>

<% @cohorts = [["No Cohort Assigned", 0]] %>
<% Cohort.all.each do |coh| %>
  <% if coh.course_id == s.course_id %>
  <% arr = [] %>
  <% arr << coh.name %>
  <% arr << coh.id %>
  <% @cohorts << arr %>
  <% end %>
<% end %>

<span>
<% if s.id < 100 && s.id > 9 %>
<%= "0" + s.id.to_s %>
<% elsif s.id < 10 %>
<%= "00" + s.id.to_s %>
<% else %>
<%= s.id.to_s %>
<% end %>
<%= f.text_field :last_name, class: 'namefield',:readonly => true %>
<%= f.text_field :first_name, class: 'namefield',:readonly => true %>
 <%= f.text_field :email, class: 'emailfield', :readonly => true %>
 <%=  f.number_field :grade, :class => 'text_field', :step => 0.01 %>
    <%= f.select :cohort_id, @cohorts, class: 'cohortfield' %>
    <%= link_to student_path(s) do %>
    View Student Profile <i class="far fa-eye"></i>
    <% end %>
<%= f.submit 'Submit Changes' %> <i class="fas fa-pencil-alt"></i>

<% end %>

</span>
<% end %>
<% end %>
<% end %>

<% else %>
<p>You have no cohorts</p>
<% end %>
<% end %>
