<% if logged_in? %>

<h1>Your Cohorts</h1>
<% if @yourcohorts != nil %>


<% @yourcohorts.each do |coh| %>

<% @num_stu = 0 %>
<% @students.each do |s| %>
  <% if coh.id == s.cohort_id %>
  <% @num_stu += 1 %>
  <% end %>
<% end %>

<% @coursename = Course.find_by(id: coh.course_id) %>
<h2><%= link_to "#{coh.name}", cohort_path(coh) %> <small>(<%= @coursename.name %>) </small></h2>
    <p class="desc">Date: <%= coh.start_date.to_datetime.strftime("%m/%e/%y") %> to <%= coh.end_date.to_datetime.strftime("%m/%e/%y") %><p>


      <%= form_for coh do |f| %>
      <%= f.select :course_id, @courses, {:include_blank => 'Select a Course'} %>
      <%= f.text_field :name%>

      <%= f.text_field :start_date, class: 'datefield' %> to
      <%= f.text_field :end_date, class: 'datefield' %>
      <%= f.submit 'Edit Cohort' %>
         <%= @num_stu %> students:
      <% end %>
<% @students = Student.where(cohort_id: coh.id) %>
        <%= render "students/studentsformeditable" %>
<% end %>
<% end %>

<% else %>
<p>You have no cohorts</p>
<% end %>
