<h1>Students</h1>
<div class="studentGrid">
<div>Last Name</div>
<div>First Name</div>
<div>Email</div>
<div>Age</div>
<div>GPA</div>
<div>Education</div>
<div>Course</div>
<div>Cohort</div>
<% @students.each do |s| %>
<% p s.course_id %>
<% @course = @courses.find_by id: s.course_id %>
<div><%= s.last_name %></div>
<div><%= s.first_name %> </div>
<div> <%= s.email %></div>
<div> <%= s.age %></div>
<div> <%= s.grade %></div>
<div> <%= s.education %></div>
<div> <%= @course.name %></div>
<% if s.cohort_id != 0 %>
<div> <%= s.cohort_id %></div>
<% else %>
<div>Not Assigned</div>
<% end %>
<% end %>
</div>
<h1>Students</h1>

<% @students.each do |s| %>
<%= form_for(s) do |f| %>
<% @course = @courses.find_by id: s.course_id %>
<%= f.text_field :last_name %>
<%= f.text_field :first_name %>
 <%= f.text_field :email %>
 <%= f.text_field :age %>
 <%=  f.text_field :grade %>
 <%= f.select :education, ['HS', 'College', 'Masters', 'PHD'] %>
 <%= @course.name %>
<%= f.submit 'Edit' %>
<% end %>
<% end %>
