<h1>Students</h1>
<div class="titlespans"><span style="margin-right:10px;">ID#</span><span style="margin-right:20px;">Last Name</span><span style="margin-right:20px;">First Name</span><span style="margin-right:145px;">Email </span><span style="margin-right:25px;">Age</span><span style="margin-right:30px;">GPA</span><span style="margin-right:10px;">Education</span><span style="margin-right:145px;">Course</span><span>Cohort</span></div>

<div class="students">
<%= render "studentsform" %>


              <%= form_for(@student) do |f| %>
              <% @courses = [] %>
                <% Course.all.each do |co| %>
                  <% arr = [] %>
                    <% arr << co.name %>
                      <% arr << co.id %>
                        <% @courses << arr %><% end %>
                        <span>
                          Add new student <i class="fas fa-user-plus"></i>
                          <%= f.text_field :last_name, placeholder: "Last Name"%>
                          <%= f.text_field :first_name, placeholder: "First Name" %>
                          <%= f.text_field :email, placeholder: "Email Address" %>
                          <%= f.number_field :age, placeholder: "Age" %>
                          <%= f.hidden_field :grade, value: 0.00, :class => 'text_field', :step => 0.01 %>
                          <%= f.hidden_field :cohort_id, value: 0 %>
                          <%= f.select :education, ['HS', 'College', 'Masters', 'PHD'] %>
                          <%= f.select :course_id, @courses, {:include_blank => 'Select a Course'}, {:include_blank => 'Select a Course'} %>
                          <%= f.submit 'Add Student' %>
                        <% end %>
                      </span>

                    </div>
