<h1><%= @student.first_name %>
  <%= @student.last_name %></h1>

<% @course = @courses.find_by id: @student.course_id %>
  <% @cohort = @cohorts.find_by id: @student.cohort_id %>
    Name:
    <%= @student.first_name %>
    <%= @student.last_name %><br>
    Email:
    <%= @student.email %><br>
    Age:
    <%= @student.age %><br>
    Current grade:
    <%= @student.grade %><br>
    Highest completed education:
    <%= @student.education %><br>
    Course:
    <% if @student.course_id != 0 %>
      <%= link_to "#{@course.name}", course_path(@course.id) %>
    <% else %>
      Not Assigned
    <% end %>

    <br>
    Cohort:
    <% if @student.cohort_id != 0 %>
      <%= link_to "#{@cohort.name}", cohort_path(@cohort.id) %>
    <% else %>
      Not Assigned
    <% end %>
