<% if logged_in? %>

<h1>Users</h1>

<% @users.each do |u| %>

<%= form_for(u) do |f| %>
<% if current_user.admin_priv == 0 %>

<span><%= f.text_field :first_name, :readonly => true %>
<%= f.text_field :last_name, :readonly => true  %>
<%= f.text_field :email, :readonly => true  %></span><br>

<% else %>
<%= f.text_field :first_name, :class => 'namefield' %>
<%= f.text_field :last_name, :class => 'namefield' %>
<%= f.number_field :age %>
<%= f.select :education, ['HS', 'College', 'Masters', 'PHD'] %>
<%= f.text_field :email %>
  <%= f.number_field :salary, :class => 'text_field salary', :step => 1000 %>
Role:
 <%= f.select :admin_priv, [['Instructor', 0],["Administrator", 1]] %>
 <%= f.hidden_field :password, value: :password %>
<%= f.submit 'Submit Changes' %>
<% end %>
<% end %>
<% end %>

<% end %>
