<div class="frontpage" id ="front">
    <h1 class="logo"><small><small>Welcome<small> to</small></small></small><br>The <%= @schoolname %> School<br>
      <small>of</small>
      Art <small>and</small> Technology</h1>
    <h2>Administrative Panel</h2>
    <h3>&nbsp</h3>
    <% if logged_in? %>
      <p><%= button_to "Log out", logout_path, class: 'logoutb', method: :delete %></p>
      <% if current_user.admin_priv >= 1 %>
      <div class="privileges">
              <p>Your privileges:</p>
        <p>View and edit faculty and staff information</p>
        <p>View and edit student information</p>
        <p>Create courses and cohorts</p>
      </p>
      <% end %>
            <div class="privileges">
      <% if current_user.admin_priv == 0 %>
        <p>Your privileges:</p>
        <p>View faculty and staff information</p>
        <p>View and edit student information</p>
        <p>Create courses and cohorts</p>
      </div>
      <% end %>
    <% else %>

      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, placeholder: 'Email', require: true %>
      <%= f.password_field :password, placeholder: 'Password', require: true %>
      <%= f.submit 'Log in' %>
    <% end %>
    <p>Not registered?
      <%= link_to 'Create an account', register_path %>.</p>
  <% end %>

</div>
<script>
function newDiv() {
  var newdiv = document.createElement('div');
  newdiv.style.cssText=("position: absolute; transform: rotate(" + Math.floor(Math.random() * 360) + "deg); top: " +  Math.floor(Math.random() * 100) + "vh; left: " + Math.floor(Math.random() * 100) + "vw; border: none; color: rgba(255, 255, 255, " + Math.random() * .3 + "); font-size: " + Math.floor(Math.random() * 200) + "px; z-index: 0;");
  newdiv.innerHTML="<i class='fas fa-graduation-cap animated fadeIn slideInUp'></i>";
  document.getElementById('front').appendChild(newdiv);
  console.log("???")
}
function loopIt() {
        setInterval(function(){ newDiv(); }, 2000);
}

loopIt();
</script>
