<div class="frontpage" id ="front">
    <h1 class="logo"><small><small>Welcome<small> to</small></small></small><br>The <%= @schoolname %> School<br>
      <small>of</small>
      Art <small>and</small> Technology</h1>
    <h2>Administrative Panel</h2>
    <h3>&nbsp</h3>
    <% if logged_in? %>
      <p><%= button_to "Log out", logout_path, method: :delete %></p>
      <% if current_user.admin_priv >= 1 %>
              <p>Your privileges:</p>
        <p>View and edit faculty and staff information</p>
        <p>View and edit student information</p>
        <p>Create courses and cohorts</p>
      <% end %>
      <% if current_user.admin_priv == 0 %>
        <p>Your privileges:</p>
        <p>View faculty and staff information</p>
        <p>View and edit student information</p>
        <p>Create courses and cohorts</p>
      <% end %>
    <% else %>

      <%= form_for(:session, url: login_path) do |f| %>
      <%= f.email_field :email, placeholder: 'Email', require: true %>
      <%= f.password_field :password, placeholder: 'Password', require: true %>
      <%= f.submit 'Log in' %>
    <% end %>
    <p>Not registered?
      <%= link_to 'Create an account', register_path %>.</p>
  <% end %>

</div>
