<ul>
  <li><h2 class='logo'>Nameofschool School</h2></li>
<li><%= link_to "Create an account", register_path %></li>
<li><%= link_to "Log in", login_path %></li>
<li><%= link_to "Administrators", admin_path %></li>
<li><%= link_to "Instructors", instructors_path %></li>
<li><%= link_to "Courses", courses_path %></li>
<li><%= link_to "Students", students_path %></li>
</ul>
