<div class="sidebar"><br>
  <ul>
    <% if logged_in? %>
      <li class="shadow"><%= link_to "Log out", logout_path, method: :delete %></li>
      <li class="slider shadow" id="staffbutton" onclick='slideoutStaff()'>Staff</li>
      <li class="slider shadow" id="coursesbutton"  onclick='slideoutCourses()'>Courses</li>
      <li class="slider shadow" id="cohortsbutton"  onclick='slideoutCohorts()'>Cohorts</li>
      <li class="slider shadow" id="studentsbutton"  onclick='slideoutStudents()'>Students</li>
    <% else %>
      <li class="shadow"><%= link_to "Register", register_path %></li>
      <li class="slider shadow" id="loginbutton" onclick='slideoutLogin()'>Log in</li>
    <% end %>
  </ul>
  <ul class='flash'>
<% flash.each do |key, message| %>
<% message.each do |m| %>
<li>  <%= m %></li>
<% end %>
<% end %>
</ul>
</div>
<div id="corner"><div id="innercorner">&nbsp</div></div>

    <% if logged_in? %>
    <div class="shadow" id="javascriptDisabled">JavaScript is disabled.<b>
Users<br>
          <%= link_to users_path, :alt => "View / Edit", :alt => "Staff" do %>
      <i class="fas fa-users"></i>
        <% end %>
        |
          <%= link_to admin_path, :alt => "View / Edit", :alt => "Admin" do %>
      <i class="fas fa-user-tie"></i>
        <% end %>
        |
        <%= link_to instructors_path, :alt => "View / Edit", :alt => "Instructors" do %>
        <i class="fas fa-chalkboard-teacher"></i>
      <% end %>
      |
      <%= link_to user_path(current_user), :alt => "Your Page" do %>
      <i class="fas fa-user"></i>
      <% end %>
      |
      <i class="fas fa-times slider" alt="Close" onclick="closeStaff()"></i>
<br>
Students<br>
      <%= link_to students_path, :alt => "View / Edit", :alt => "View / Edit" do %>
      <i class="far fa-eye"></i>/<i class="fas fa-pencil-alt"></i>
      <% end %>
      |
      <i class="fas fa-plus slider" onclick='revealNewStudent()'></i>
      |
      <i class="fas fa-search slider" onclick='revealSearchOptionsStudent()'></i>
      |
      <i class="fas fa-times slider" alt="Close" onclick="closeStudents()"></i>
<br>Cohorts</br>
      <%= link_to cohorts_path, :alt => "View / Edit" do %>
      <i class="far fa-eye"></i>/<i class="fas fa-pencil-alt"></i>
      <% end %>
      |
      <i class="fas fa-plus slider" onclick='revealNewCohort()'></i>
      |
      <% if current_user.admin_priv == 0 %>
      <%= link_to your_path, :alt => "Your Cohorts" do %>
      <i class="fas fa-user"></i>
      <% end %>
      |
      <% end %>
      <i class="fas fa-search"></i>
      |
      <i class="fas fa-times slider" alt="Close" onclick="closeCohorts()"></i>
<br>Courses<br>
      <%= link_to courses_path, :alt => "View / Edit" do %>
      <i class="far fa-eye"></i>/<i class="fas fa-pencil-alt"></i>
      <% end %>
      |
      <i class="fas fa-plus slider" onclick='revealNewCourse()'></i>
      |
      <i class="fas fa-search"></i>
      |
      <i class="fas fa-times slider" alt="Close" onclick="closeCourses()"></i>
<br>
      <br><br>Search by:<br>
      <span onclick="revealStudentsSearchByName()">Name or email</span><br>
      <i class="fas fa-times slider" alt="Close" onclick="closeSearchOptionsStudent()"></i>
    </div>
    <script>
    function jsEnabled() {
      window.onload = document.getElementById('javascriptDisabled').classList.add('hidden');
      }

    jsEnabled();
</script>
<% end %>
